@use "@angular/material" as mat;
@import "../../theming.scss";

.applications {
  width: auto;
  height: 90%;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.list {
  border-style: solid;
  border-color: mat.get-color-from-palette($primary-palette, "lighter");
  border-radius: 10px;
  display: flex;
  width: 100%;
  min-height: 300px;
}

.items {
  width: 35%;
  overflow: scroll;
}

.details {
  width: 60%;
  overflow: scroll;
}

.selected-item {
  // background: mat-color($primary);
}
