<!-- Toolbar -->
<mat-toolbar>
  <span>Welcome to Applied Chronology!</span>
  <div class="spacer"></div>
  <app-login-state></app-login-state>
</mat-toolbar>

<div class="content" role="main">
  <app-application-list *ngIf="isLoggedIn(); else elseBlock">
  </app-application-list>
  <ng-template #elseBlock>
    <div class="login-box">
      <app-login-form> </app-login-form>
    </div>
    <div class="signup-box">
      <app-signup-form> </app-signup-form>
    </div>
  </ng-template>
</div>

<router-outlet></router-outlet>
