<mat-card>
  <h3>New to Applied Chronology?</h3>
  <mat-card-title>Signup</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit(form)" autocomplete="off">
      <div>
        <mat-form-field appearance="standard">
          <mat-label>Username</mat-label>
          <input
            matInput
            formControlName="username"
            placeholder="Enter your username"
          />
          <mat-icon matSuffix>account_circle</mat-icon>
          <mat-error *ngIf="form.get('username')!.errors?.required"
            >Username is required</mat-error
          >
          <mat-error *ngIf="form.get('username')!.errors?.pattern"
            >Username must only contain characters [A-Za-z0-9@_.-]</mat-error
          >
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="standard">
          <mat-label>Password</mat-label>
          <input
            matInput
            [type]="hidePw ? 'password' : 'text'"
            placeholder="Enter your password"
            formControlName="password"
          />
          <mat-icon (click)="hidePw = !hidePw" matSuffix>{{
            hidePw ? "visibility" : "visibility_off"
          }}</mat-icon>
          <mat-error *ngIf="form.get('password')!.errors?.required"
            >Password is required</mat-error
          >
          <mat-error *ngIf="form.get('password')!.errors?.pattern"
            >Password must only contain characters [A-Za-z0-9
            @_.,!?;:#$%^*()-]</mat-error
          >
        </mat-form-field>
      </div>
      <div class="padder">
        <!-- to match the spacing in login-form -->
      </div>
      <div>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!form.valid"
        >
          Signup
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
